name: Build ARM64 Docker images
on:
  push:
    branches: ['main']
    tags: ['v*']
jobs:
  build-server-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image (linux/arm64/v8)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: server/Dockerfile
          platforms: linux/arm64/v8
          push: false
          tags: local/bitwarden-mxroute-server:ci
  build-web-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image (linux/arm64/v8)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: web/Dockerfile
          platforms: linux/arm64/v8
          push: false
          tags: local/bitwarden-mxroute-web:ci
